<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
    <%= render 'fields', :f => f %>
    <div class="actions">
        <div class="input">
            <%= f.submit "Sign up" %>
        </div>
    </div>
<% end %>
