
<div class="row">
    <div class="span6 offset3">
        <%= form_for @user , :html => { :class => 'form-horizontal' } do |f| %>
            <%= render 'fields', :f => f %>
            <div class="form-actions">
                <%= f.submit "Sign up", :class => "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>
