<h1>BookWorm</h1>

<p>
This is the home page for the BookWorm
<a href="https://github.com/omaciel/BookWorm">BookWorm</a>
sample application.
</p>

<p>This is where we will display a list of all public books by all users.</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
