<% if signed_in? %>
    <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
    </h1>

    <%= render 'books/index' %>

<% else %>
    <h1>BookWorm</h1>

    <p>
    This is the home page for the BookWorm
    <a href="https://github.com/omaciel/BookWorm">BookWorm</a>
    sample application.
    </p>

    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
