<!-- main content goes here -->
<div class="container">
    <div class="content">

        <div class="page-header">
            <h1>BookWorm: <small>Track and manage books you want to read.</small></h1>
        </div>
        <div class="row">
            <section class="round">
            <% flash.each do |key, value| %>
                <div class="flash <%= key %>"><%= value %></div>
            <% end %>
            </section>
            <%= yield %>
        </div>

        <%= render 'layouts/footer' %>
    </div>
</div>
