<!-- main content goes here -->
<div class="container">
    <div class="content">

        <div class="hero-unit">
            <h1 class="align-center">BookWorm</h1>
            <p>Track and manage books you want to read.</p>
        </div>
        <section class="round">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
                <a class="close" data-dismiss="alert">×</a>
                <%= value %>
            </div>
        <% end %>
        </section>
        <%= yield %>
        
        <%= render 'layouts/footer' %>
    </div>
</div>
