<!-- main content goes here -->
<div class="content">

  <div class="row">
          <div class="span10">
            <%= yield %>
          </div>
          <div class="span4">
            <h3>Secondary content</h3>
          </div>
            <%= render 'layouts/footer' %>
        </div>

</div>
