<div class="fill">
    <div class="container">
        <%= link_to "BookWorm", root_path, :class => "brand" %>
        <ul class="nav">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Sign in", '#' %></li>
        </ul>
    </div>
</div>
