<div class="fill">
    <div class="container">
        <a class="brand" href="#">BookWorm</a>
        <ul class="nav">
            <li class="active"><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", '#' %></li>
        </ul>
    </div>
</div>
