<div class="fill">
    <div class="container">
        <%= link_to "BookWorm", root_path, :class => "brand" %>
        <ul class="nav">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Sign up", signup_path %></li>
        </ul>
      <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
    </div>
</div>
