<!DOCTYPE html>
<html lang="en">

    <%= render 'layouts/header' %>

    <body>

        <div class="topbar">
            <%= render 'layouts/navigation' %>
        </div>

        <div class="container">

            <%= render 'layouts/content' %>

        </div> <!-- /container -->

    </body>
</html>
